.descricao {
  margin-top: 3.5rem;
  padding: 2rem;
  padding-top: 0;
  color: rgb(77, 75, 75);
  font-size: 1.8rem;
  max-width: 40ch;
}

.negrito-experiencia {
  color: #141414;
}

.lista1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f7f7f7;
  border-radius: 0.2rem;
  margin-top: 3rem;
  padding-left: 2rem;
  position: relative;
}

.lista1-ano {
  position: absolute;
  top: 1.3rem;
  left: -60px;
  color: #242424;
}

.botao-geral {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 10px;
}

.botao {
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 0.2rem;
}

.lista1 p {
  font-size: 0.9rem;
  color: rgb(77, 75, 75);
  margin: 0;
}

.section-li-h3 {
  position: relative;
}

.section-li-h3::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 25px;
  background: linear-gradient(#00ced1, #5bd7d9);
  position: absolute;
  left: -35px;
}

.ul-span-titulo {
  margin: 1rem 0;
  font-size: 1.125rem;
  font-weight: bold;
}
